<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">    
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Projeto academico para desenvolvimento de um portal de ensino gratuito">
        <meta name="author" content="Lázaro Henrique Silva, Tacyana Lacerda, Andre, Mateus and Vitor França">
        <link type="text/css" href="css/estilo.css" rel="stylesheet">
        <link type="text/css" href="css/bootstrap.min.css" rel="stylesheet">
        <title>ESECA - Escola em Casa</title>
    </head>
    <body>
        <nav class="navbar navbar-light nav-principal" style="background-color: #e3f2fd;">
            <div class=logo>
                <a class="navbar-brand" href="#">
                    <img src="/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
                </a>
            </div>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Página Principal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Quem somos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contato</a>
                </li>
            </ul>
        </nav>
		<div class="container">
			<div class="row">
				<div class="col-sm">
					Uma de três colunas
				</div>
				<div class="col-sm">
					Uma de três colunas
				</div>
				<div class="col-sm">
					Uma de três colunas
				</div>
			</div>
		</div>
        <footer>

        </footer>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery-3.3.1.slim.min.js"></script>
        <script src="js/popper.min.js"></script>
    </body>
</html>